#analysis-page {
  color: var(--ion-color-tertiary);

  h1 {
    color: var(--ion-color-tertiary);
  }

  p{
    color: var(--ion-color-tertiary);
  }

  .notification-wrapper{
    height: 100px;
    width: 95%;
    margin: 5% 2.5% 0 2.5%;
    background: var(--ion-color-light);
    border-radius: 25px;
    display: flex;
    justify-content: center;
  }
}