#home-page {
    .swiper-pagination {
        top: 320px;
        bottom: auto;
    }

    .main-slider {
      width: 100%;
      text-align: "left";
      align-self: "flex-start" 
    }

    #main-display-container {
        height: 300px;
    }
}