#analysis-calendar{

  .calendar--wrapper{
   margin: 0 5% 0 9%;
  }
 
  .today-wrapper{
    display: inline;
    border: dotted 2px var(--ion-color-tertiary);
    border-radius: 80%;
    margin: 0 2% 0 2%; 
  }
}