#analysis-hero{
  color: var(--ion-color-tertiary);
  height: 40%;
  display: flex; 
  justify-content: center; 

  .hero--wrapper{
    margin-top: 3%;
    height: 200px;
    width: 220px;
    border-radius: 45%;
    background:var(--ion-color-tertiary);
    overflow: hidden;
    display: flex; 
    justify-content: center; 
  }
  .image--wrapper{
    height: 160px;
    width: 130px;
    align-self: center;
  }

}