.analysis-info-page {
  margin: 0 6% 0 6%;
  

  h1{
    margin: 0;
    padding: 0;
  }

  h4{
    color:  var(--ion-color-primary);
    margin: 0;
    padding: 0;
  }

  h5{
    color: gray;
    margin-bottom: 5%;
  }

  p{
    margin: 0;
    margin-bottom: 2%;
    padding: 0;
    color: gray;
  }

  .img--wrapper{
    height: 80px;
    width: 70px;
    margin-bottom: 5%;
  }
}