#analysis-hero{
  height: 43%;
  display: flex; 
  justify-content: center; 

  .hero--wrapper{
    margin-top: 3%;
    height: 200px;
    width: 220px;
    border-radius: 45%;
    background:var(--ion-color-tertiary);
    overflow: hidden;
    display: flex; 
    justify-content: center; 
  }
  .image--wrapper{
    height: 160px;
    width: 140px;
    align-self: center;
  }


  .progress-bar-wrapper{
    height:24px;
    width: 100%;
    position: absolute;
    top: 40%;
    margin-top: 3%;
  }

  .progress-bar-light-grey{
    margin-left: 5%;
    background: whitesmoke;
    border-radius: 8px;
    height:24px;
    width:90%
  }

  .progress-bar-green{
    background:   var(--ion-color-tertiary);
    border-radius: 8px;
    height:24px;
  }

  .bottom-display-wrapper{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    margin: 1% 6% 0 6%;

    p{
      margin: 0;
      color: var(--ion-color-tertiary);
    }
  }

}