#main-display-container{
  margin-top: 5%;

  h1{
    margin: 0 0 0 5%;
  }

  .display-container{
    height: 225px;
    width: 100%;
    margin-top: 10%;
    border-radius: 25px;
    position: relative;
    background: var(--ion-color-secondary);
    color: white;
  }

  .display-container--positive{
    // color: var(--ion-color-primary)
  }
  
  .display-container--negative{
    h1{
      color: #654321; 
    }
  }
  
  .mascot-wrapper{
    position: absolute;
    top: -30%;
    right: 0;
    height: 200px;
    width: 200px;
  }

  .progress-bar-wrapper{
    height:24px;
    width: 100%;
    position: absolute;
    bottom:40%;

    h1{
      margin: 0 0 1% 5%;
      display: inline;
    }

    p{
      font-size: 16px;
      text-align: right;
      margin: 1% 5% 0 0;
    }
  }

  .progress-bar-light-grey{
    margin-left: 5%;
    background: whitesmoke;
    border-radius: 8px;
    height:24px;
    width:90%
  }

  .progress-bar-green{
    background: var(--ion-color-primary);
    border-radius: 8px;
    height:24px;
  }

  .progress-bar-brown{
    background: #654321;
    border-radius: 8px;
    height:24px;
  }
  


  
}


